body {
  background: url("./assets/background.gif") repeat;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  max-width: 900px;
  margin: 0 auto;
  padding: 10px;
}

.left-column {
  width: 35%;
  padding: 10px;
}

.right-column {
  width: 65%;
  padding: 10px;
}

/* PROFILE PICTURE */
.personal-pic {
  display: block;
  margin: 0 auto 20px;
  width: 290px;
  height: auto;
}

/* CURRENTLY */
.currently-section {
  margin-top: 20px;
  text-align: center;
}

.currently-section h2 {
  color: white;
  text-shadow: 0 0 5px white, 0 0 7px white, 0 0 9px white;
}

.currently-section table {
  width: 100%;
  border-collapse: collapse;
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 5px white, 0 0 5px white;
}

.currently-section th,
.currently-section td {
  padding: 8px;
  border: 1px solid #fff;
  text-align: left;
  color: white;
}


/* WELCOME */
.welcome-section {
  text-align: center;
}

.welcome-gif {
  width: 100%; /* Adjust as needed */
  background-color: #000;
}

/* BIO */
.bio-section {
  text-align: center;
  margin-top: 20px;
}

.bio-text {
  line-height: 1.5;
}

/* UPDATES */
.updates-section {
  margin-top: 20px;
}

.updates-section h2 {
  color: white;
  text-shadow: 0 0 5px white, 0 0 7px white, 0 0 9px white;
}


.scrollable-box {
  max-height: 150px;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 1);
  padding: 10px;
  border: 2px solid #FFFFFF;
  box-shadow: 0 0 5px white, 0 0 5px white
}

.updates-header {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
  color: #fff; /* Adjust text color */
  text-transform: uppercase;
}

.update-item {
  margin: 5px 0;
  padding: 0;
}

.update-item p {
  margin: 0;
  font-size: 14px;
}

.update-item strong {
  color: #4CAF50; /* Green shade for date */
}


/* PROJECTS */
.projects-section h2{
  text-shadow: 0 0 5px white, 0 0 7px white, 0 0 9px white;
}

.projects-section {
  margin-top: 20px;
}

.projects-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.project-item {
  text-align: center;
  margin: 10px;
}

.project-item img {
  display: block;
  margin: 0 auto 5px;
  max-width: 100px;
  height: auto;
}

/* FOOTER */
.footer-section {
  text-align: center;
  margin-top: 20px;
}

/* COUNTER */
.visitor-counter {
  margin-top: 10px;
}