---
import { Image } from 'astro:assets';
import underConstructionGif from '../assets/under-construction.gif';
---

<div class="flex justify-center items-center min-h-screen">
  <Image 
    src={underConstructionGif} 
    alt="Under Construction" 
    class="max-w-full h-auto"
  />
</div>